.profile-button__submit {
  font-family: $large-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white-color;
  background: $basic-green-color;
  border: none;
}
