.profile {
  margin: 0;
  padding: 0;
}

.profile__wrapper {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.profile__title {
  font-family: $large-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black-color;
}

.profile__description {
  font-family: $large-font;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-color;
}

.profile__content {
  font-family: $large-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.profile__input {
  font-family: $large-font;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.profile-control__content {
  font-family: $large-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey-color;
}

.profile__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile__information {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .profile__wrapper {
    padding: 0 31px;
  }
}

@media (min-width: $desktop-width) {
  .profile__form-container {
    display: flex;
  }

  .profile__wrapper {
    padding: 0 110px;
  }
}
