.add-products {
  margin: 0;
  padding: 0;
}

.add-products__title {
  position: relative;
  margin: 0;
  padding: 25px 0 36px 20px;
  font-family: $large-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black-color;
}

.add-products__title::after {
  content: "";
  width: 53px;
  height: 2px;
  background-image: url("../../img/line.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 42px;
}

.add-products__item {
  margin: 0;
  padding: 0 20px;
  border-top: 1px solid $line_grey-color;
}

.add-products__item:last-child {
  border-bottom: 1px solid $line_grey-color;
}

.add-products__name {
  margin: 0;
  padding: 0;
  font-family: $large-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $dark_grey-color;
}

.add-products__information-item {
  margin: 0;
  padding: 0;
  line-height: 14px;
}

.add-products__button-order {
  margin: 0;
  padding: 0;
  font-family: $large-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white-color;
  background: $basic_green-color;
  border: none;
}
