.catalog {
  margin: 0;
  padding: 0;
}

.catalog__wrapper {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.catalog__title {
  margin: 0;
  padding: 0;
  font-family: $large-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black-color;
}

.catalog__list {
  margin: 0;
  padding: 19px 20px 25px;
  display: grid;
}

.catalog__item {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    padding: 0 31px;
  }

  .catalog__list {
    padding: 163px 0 75px;
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    padding: 0 110px;
  }

  .catalog__list {
    padding: 165px 0 68px;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}

.catalog__product-name {
  margin: 0;
  padding: 0;
  font-family: $large-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-grey-color;
}

.catalog__link {
  margin: 0;
  padding: 0;
  font-family: $large-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white-color;
  background: $basic-green-color;
}

.catalog__invocation {
  margin: 0;
  padding: 0;
  font-family: $large-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $gray-color;
}

.catalog__information {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}

.catalog__button-show-more {
  margin: 0;
  padding: 0;
  font-family: $large-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: $basic-grey-color;
  border: none;
}

.catalog__show-more {
  background-image: url("../../img/plus.svg");
  background-repeat: no-repeat;
  background-position: bottom 153px center;
}
