// Начните писать стили здесь
@import "./variables.scss";
@import "./fonts.scss";
@import "./global.scss";
@import "./index/main-header.scss";
@import "./index/main-nav.scss";
@import "./index/site-list.scss";
@import "./index/promo.scss";
@import "./index/product-lines.scss";
@import "./index/product-information.scss";
@import "./index/example.scss";
@import "./index/contacts.scss";
@import "./index/main-footer.scss";
@import "./catalog/catalog.scss";
@import "./catalog/product-information.scss";
@import "./catalog/add-products.scss";
@import "./catalog/contacts-background.scss";
@import "./form/profile.scss";
@import "./form/comment.scss";
@import "./form/additionally.scss";
@import "./form/additionally-control.scss";
@import "./form/profile-button.scss";
@import "./form/profile-contacts.scss";
