.example {
  margin: 0;
  padding: 0;
  background: $light-grey-color;
}

.example__title {
  font-family: $large-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black-color;
}

.example__cell-inside {
  margin: 0;
  font-family: $large-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black-color;
}

.example__cell-border {
  margin: 0;
  font-size: 12px;
}

.example__result {
  font-family: $large-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-color;
}

.example__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 20px 40px 20px;
  display: flex;
  flex-direction: column;
}

.example__wrapper-cell {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .example__wrapper-result {
    display: flex;
    justify-content: space-between;
  }

  .example__wrapper-cell {
    width: 367px;
  }

  .example__wrapper {
    padding: 0 31px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 110px;
  }

  .example__wrapper-result {
    display: block;
  }
}
