.main-footer {
  margin: 0;
  padding: 0;
  background: $basic-grey-color;
}

.main-footer__htmlacademy-link {
  font-size: 16px;
  color: $special-dark-grey-color;
}

.main-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 132px;
}

.main-footer__social-list a {
  color: $social-icon-grey-color;
}

.main-footer__htmlacademy-icon {
  color: $social-icon-grey-color;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-footer__htmlacademy {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 31px;
  }

  .main-footer__htmlacademy {
    width: 163px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    padding: 0 110px;
  }
}
