.product-lines__item {
  margin-top: 20px;
  background-color: $basic-grey-color;
  background-image: url("../../img/cat-icon-1.svg");
  background-repeat: no-repeat;
  background-position: top 21px left 22px;
}

.product-lines__item:last-child {
  background-image: url("../../img/cat-icon-2.svg");
  background-position: top 24px left 13px;
}

.product-lines__title {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 91px;
  font-family: $large-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black-color;
}

.product-lines__description {
  margin: 0;
  padding: 29px 33px 23px 20px;
}

.product-lines__link {
  position: relative;
  display: block;
  margin: 0 20px;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 22px;
  border-top: 1px solid $border-grey-color;
  font-family: $large-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black-color;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.product-lines__link::after {
  content: "";
  width: 24px;
  height: 12px;
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 100px;
  top: 21px;
}

.product-lines__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
}

@media (min-width: $tablet-width) {
  .product-lines__wrapper {
    padding: 0 31px;
  }

  .product-lines__item {
    margin-top: 0;
    background-position: top 81px right 62px;
    background-size: 200px 211px;
  }

  .product-lines__item:last-child {
    margin-top: 30px;
    background-position: top 91px right 28px;
    background-size: 268px 200px;
  }

  .product-lines__title {
    padding-top: 77px;
    padding-left: 53px;
    font-size: 36px;
    line-height: 36px;
  }

  .product-lines__description {
    padding: 24px 314px 52px 52px;
    font-size: 16px;
    line-height: 24px;
  }

  .product-lines__link {
    margin: 0;
    padding: 0;
    border-top: none;
    padding-left: 52px;
    padding-bottom: 57px;
    font-size: 20px;
    line-height: 30px;
  }

  .product-lines__link::after {
    content: "";
    position: absolute;
    left: 185px;
    top: 9px;
  }
}

@media (min-width: $desktop-width) {
  .product-lines__wrapper {
    margin-top: 220px;
    padding: 0 110px;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }

  .product-lines__item {
    background-position: top 41px left 52px;
    background-size: 100px 106px;
  }

  .product-lines__item:last-child {
    margin-top: 0;
    background-position: top 47px left 33px;
    background-size: 134px 100px;
  }

  .product-lines__title {
    padding-top: 77px;
    padding-left: 214px;
    font-size: 36px;
    line-height: 36px;
  }

  .product-lines__description {
    padding: 73px 51px 27px 52px;
    font-size: 16px;
    line-height: 24px;
  }

  .product-lines__link {
    padding-left: 52px;
    padding-bottom: 59px;
  }

  .product-lines__link::after {
    content: "";
    position: absolute;
    left: 188px;
    top: 9px;
  }
}
