.product-information {
  padding: 0 20px 49px 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.product-information__title {
  font-family: $large-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black-color;
}

.product-information__item-first {
  position: relative;
}

.product-information__item-first::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../img/green-box-1.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.product-information__item-second {
  position: relative;
}

.product-information__item-second::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../img/green-box-2.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.product-information__item-third {
  position: relative;
}

.product-information__item-third::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../img/green-box-3.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.product-information__item-fourth {
  position: relative;
}

.product-information__item-fourth::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../img/green-box-4.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.product-information__list {
  display: grid;
  row-gap: 20px;
  list-style: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .product-information__list {
    grid-template-columns: 230px 246px;
    column-gap: 153px;
    row-gap: 37px;
  }

  .product-information {
    padding: 0 31px;
  }
}

@media (min-width: $desktop-width) {
  .product-information__list {
    grid-template-columns: 230px 246px 248px 250px;
    column-gap: 94px;
  }

  .product-information {
    padding: 0 110px;
  }
}
