.site-list__item {
  font-family: $large-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black-color;
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 478px;
  }
}
